<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Macro to create sensors -->
    <xacro:macro name="vl_sensor" params="suffix sens_no sensor_joint_xyz sensor_joint_rpy">

    <joint name="${prefix}_fingertip_${suffix}_s${sens_no}_joint" type="fixed">
        <origin xyz="${sensor_joint_xyz}" rpy="${sensor_joint_rpy}"/>

      <parent link="${prefix}fingertip_frame_in"/>
      <child link="${prefix}_fingertip_${suffix}_s${sens_no}"/>
    </joint>

    <!-- Link for the vl6180x sensor-->
    <link name="${prefix}_fingertip_${suffix}_s${sens_no}">
      <visual>
        <origin rpy="${sensor_joint_rpy}" xyz="${sensor_joint_xyz}"/>
        <geometry>
<!--          <mesh filename="package://iai_fingertip_description/meshes/fingertip.stl" scale="0.001 0.001 0.001"/>  -->
<box size="0.004 0.010 0.001" />
        </geometry>
        <material name="Grey"/>
      </visual>
    </link> 




    </xacro:macro>
</robot>

  <!--       <geometry>
          <mesh filename="package://iai_fingertip_description/meshes/fingertip.stl" scale="0.001 0.001 0.001"/>   
        </geometry> 
        <material name="Grey"/> -->
