<?xml version="1.0"?>

<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
<!--  <param
    name="robot_description"
    textfile="$(find iai_fingertip_description)/urdf/fingertip.urdf.xacro" /> -->

<param name="robot_description" command="$(find xacro)/xacro.py $(find iai_fingertip_description)/urdf/mod_fingertip.urdf.xacro" /> 
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
    
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find iai_fingertip_description)/urdf.rviz" />
    
  
      <node pkg="iai_fingertip_description" name="circular_path_broadcaster" type="circular_path_broadcaster.py"  />
    <node pkg="vl6180_pub" name="vl_sensor" type="csv_exp_arduino_v1_py_split_vl_usb0.py"  />
    <node pkg="vl6180_pub" name="vl_sensor1" type="csv_exp_arduino_v1_py_split_vl_usb1.py"  />
    <node pkg="iai_fingertip_description" name="range_sensor_subscribe" type="left_fingertip_sens_subscribe.py"  />
    
</launch> 
